@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

body {
  color: #232323;
  background-color: #FBFAF7;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
  color: #232323;
  margin: 20px 0 10px;
  line-height:1.3;
  font-weight: normal;
}

h1,h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

p, li {
  font-size:  1.125rem;
  line-height: 1.7;
}

p { margin: 5px 0; }

li { font-weight: 200; }

a {
  color:#C30000;
  text-decoration:none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

table {
  width:100%;
  margin: 15px 0 0;
}

thead { display: none; }

td {
  font-size: 1rem;
  padding: 5px 0;
  font-weight: 400;
}

#main-header {
  padding: 0 0 5px;
  margin: 30px 0 10px;
  border-bottom: 1px solid #ccc;
}

.title {
  font-family: 'Arvo', serif;
  font-size: 2rem;
  font-weight: 400;
  border-bottom: none;
  margin: 0;
}

.tag-line {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  border-bottom: none;
  margin: 0;
}

.level1 > h1 {
  display: none;
}

.level2 {
  margin-top: 30px;
}

.level3 {
  margin: 25px 0 0;
}

strong + em::before {
  display: inline-block;
  padding: 0 5px 0;
  content: '\203A';
}

.level2 p, .level3 p, .level3 ul {
  text-align: justify;
}

@media print {
  body {
    padding: 0;
    margin: 0;
    font-size: 12pt;
    color:#444;
    background: none;
  }

  body .container:first-child {
    width: 96%;
  }

  h1 { font-size: 22pt; }
  h2 { font-size: 17pt; }
  h3, h4 { font-size: 14pt; }
  strong { font-weight: 400; }

  p { margin: 2pt 0 8pt; }
  table { margin: 0; }

  p, li {
    font-size: 12pt;
    line-height: 1.525;
  }

  td {
    font-weight: 200;
    padding: 0;
    line-height: normal;
  }

  #main-header { margin: 0 0 5pt; }

  .level1 h1 + p { display: none; }

  .title, .tag-line { display: block; }

  .tag-line { font-size: 14pt;}

  .level2 { margin-top: 12pt; }

  .level3 {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  h2 ~ .level3 h3 {
    margin-top: 12pt!important;
  }

  strong + em::before {
    padding: 0 3pt;
  }

  table { margin: 0; }

  table td:nth-child(odd) { font-weight: 400; }

  a::after { content: " [" attr(href) "] "; }

  h3 a::after { font-size: 12pt; }

  .no-print { display: none; }

  footer {
    float: footnote;
    text-align: right;
    margin: 0!important;
  }
}
