@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

body {
  color: #232323;
  background-color: #FBFAF7;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', Monaco, serif;
  color: #232323;
  margin: 20px 0 10px;
  line-height:1.3;
  font-weight: normal;
}

h1,h2 {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }

p, li {
  font-size:  1.15rem;
  line-height: 1.7;
}

a {
  color:#C30000;
  text-decoration:none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

small { font-size: 12px; }
strong { font-weight:600; }

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 24px;
}

table { width:100%; }

td {
  padding: 5px 10px;
  font-weight: 400;
}

li { font-weight: 200; }

#main-header {
  padding: 0 0 5px;
  margin: 30px 0 0 0;
  border-bottom: 1px solid #ccc;
}

.title {
  display: inline-block;
  font-family: 'Arvo', sans-serif;
  font-weight: 400;
  border-bottom: none;
  margin: 0;
}

.title::after {
  display: inline-block;
  font-family:Lato,Helvetica,sans-serif;
  font-size: 25px;
  font-weight: 200;
  margin: 0 2px 0 4px;
  content: '\203A';
}

.tag-line {
  display: inline-block;
  font-family:Lato,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: 100;
  border-bottom: none;
  margin: 0;
}

#main-content {
  margin: 0 0 10px;
}

#main-content h1 {
  display: none;
}

#main-content h2 {
  margin-top: 30px;
}

#main-content h3 {
  margin: 25px 0 0;
}

#main-content h3 + p {
  margin-top: 5px;
}

.level3 strong + br {
  display: none;
  margin: 0;
}


.level3 strong::after {
  display: inline-block;
  margin: 0 2px 0 4px;
  content: '\203A';
}

.level2 p, .level3 p, .level3 ul {
  text-align: justify;
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tags li {
  display: inline-block;
  margin: 0 0 .3em 1em;
  padding: 0;
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 1em;
  background-color: #171717;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 5px 10px 5px;
}

.tags li::before {
  position: absolute;
  top: 0;
  left: -15px;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent #171717 transparent transparent;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.tags li::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 100%;
}

.tags li:hover {
  background-color: #444;
  color: #fff;
}

.tags li:hover::before {
  border-right-color: #444;
}

@media print {

  body {
    padding: 0;
    margin: 0;
    font-size: 12pt;
    color:#444;
    background: none;
  }

  body .container:first-child {
    width: 96%;
  }

  h1, h2, h3, h4, h5 {
    break-after: avoid;
    page-break-after: avoid;
  }

  h1 { font-size: 22pt; }
  h2 { font-size: 17pt; }
  h3, h4 { font-size: 14pt; }
  strong { font-weight: 400; }

  p { margin: 2pt 0 8pt; }
  table { margin: 0; }

  p, li {
    font-size: 12pt;
    line-height: 1.525;
  }

  thead {
    display: none;
  }

  td {
    font-weight: 200;
    padding: 0;
    line-height: normal;
  }

  #main-header { margin: 0 0 5pt; }
  .title, .tag-line { display: block; }
  .title::after { display: none; }

  .tag-line {
    font-size: 14pt;
    margin-top: 0;
  }

  .level2, .level3 {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  h2 ~ .level3 h3 {
    margin-top: 12pt!important;
  }

  .level3 strong::after {
    margin: 0 2pt 0 4pt;
  }

  #main-content { margin-top: 0; }
  #main-content h2 { margin-top: 12pt; }

  table { margin: 0; }
  table td:nth-child(odd) { font-weight: 400; }

  #given-talks li:nth-child(n+6){ display: none; }

  #education strong::after, #open-source-projects strong::after {
    display: none;
  }

  a::after { content: " [" attr(href) "] "; }

  h3 a::after { font-size: 12pt; }

  #skills p { margin: 3pt 0 0; }
  #given-talks a::after, #contact a::after {
    content: '';
  }

  .tags li {
    display: inline-block;
    font-size: 12pt;
    font-weight: 200;
    margin: 0 0.5em 0 0;
    padding: 0;
    background: none;
    color: #444;
  }

  .tags li::before {
    display: none;
    border: none;
  }

  .tags li::after {
    position: static;
    display: inline;
    content: ',';
    font-size: 12pt;
    font-weight: 200;
  }

  #given-talks li, #interests-and-activities li {
    font-weight: 200;
  }

  .no-print {
    display: none;
    margin: 0;
  }

  footer {
    float: footnote;
    text-align: right;
    margin: 0!important;
  }

  @page {
    size: letter portrait;
  }

  /* Odd pages */
  @page:right{
    @bottom-left, @top-left, @top-right {
      display: none;
    }

    @bottom-right {
      margin: 10pt 0 30pt 0;
      border-top: .25pt solid #444;
      content: counter(page);
      font-size: 9pt;
    }
  }

  /* Even pages */
  @page:left {
    @bottom-right, @top-left, @top-right {
      display: none;
    }

    @bottom-left {
      margin: 10pt 0 30pt 0;
      border-top: .25pt solid #444;
      content: counter(page);
      font-size: 9pt;
    }
  }
}
